.banner {
  background-size: cover;
  background-position: center;
  padding: 32px 32px;
}

#logo {
	height: 150px;
	width: auto;


}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
  margin-bottom: 150px;
  display:  flex;
  justify-content: space-between;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.container h1{
	margin-bottom:  50px;
}
#name{
	margin-bottom:  0;
}

.footer {
  background-image: url(images/111.jpg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: whitesmoke;
  margin-top: 50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: whitesmoke;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: yellow;
}
.footer .fa-heart {
  color: yellow;
}
.record {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;

}
.card { box-shadow: 5px 5px 5px violet;
}

.card img {
	height: 300px;
}
